body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}
  
  .container {
    max-width: 900px; }
  
 
  section#formHolder {
    padding: 50px 0; }
  
  .brand {
    padding: 20px;
    background-size: cover;
    background-position: center center;
    color: #fff;
    min-height: 540px;
    position: relative;
    box-shadow: 3px 3px 10px rgba(92, 143, 204, 0.3);
    transition: all 0.6s cubic-bezier(1, -0.375, 0.285, 0.995);
    z-index: 9999; }
    
    .brand::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgb(36, 131, 197);
      z-index: -1; }
    .brand .heading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      transition: all 0.6s; }
      .brand .heading.active {
        top: 100px;
        left: 100px;
        transform: translate(0); }
      .brand .heading h2 {
        font-size: 70px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0; }
      .brand .heading p {
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        white-space: 4px;
        font-family: "Raleway", sans-serif; }
    .brand .success-msg {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 60px; }
      .brand .success-msg p {
        font-size: 25px;
        font-weight: 400;
        font-family: "Raleway", sans-serif; }
      .brand .success-msg a {
        font-size: 12px;
        text-transform: uppercase;
        padding: 8px 30px;
        background: #2db6fa;
        text-decoration: none;
        color: #fff;
        border-radius: 30px; }
      .brand .success-msg p, .brand .success-msg a {
        transition: all 0.9s;
        transform: translateY(20px);
        opacity: 0; }
        .brand .success-msg p.active, .brand .success-msg a.active {
          transform: translateY(0);
          opacity: 1; }
  
  .form {
    position: relative; }
    .form .form-peice {
      background: #fff;
      min-height: 480px;
      margin-top: 30px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
      color: #bbbbbb;
      padding: 30px 0 60px;
      transition: all 0.9s cubic-bezier(1, -0.375, 0.285, 0.995);
      position: absolute;
      top: 0;
      left: -30%;
      width: 130%;
      overflow: hidden; }
      .form .form-peice.switched {
        transform: translateX(-100%);
        width: 100%;
        left: 0; }
    .form form {
      padding: 0 40px;
      margin: 0;
      width: 70%;
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%); }
      .form form .form-group {
        margin-bottom: 5px;
        position: relative; }
        .form form .form-group.hasError input {
          border-color: #2db6fa !important; }
        .form form .form-group.hasError label {
          color: #2db6fa !important; }
      .form form label {
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        transform: translateY(40px);
        transition: all 0.4s;
        cursor: text;
        z-index: -1; }
        .form form label.active {
          transform: translateY(10px);
          font-size: 10px; }
        .form form label.fontSwitch {
          font-family: "Raleway", sans-serif !important;
          font-weight: 600; }
      .form form input:not([type=submit]) {
        background: none;
        outline: none;
        border: none;
        display: block;
        padding: 10px 0;
        width: 100%;
        border-bottom: 1px solid #eee;
        color: #444;
        font-size: 15px;
        font-family: "Montserrat", sans-serif;
        z-index: 1; }
        .form form input:not([type=submit]).hasError {
          border-color: #2db6fa; }
      .form form span.error {
        color: #2db6fa;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        position: absolute;
        bottom: -20px;
        right: 0;
        display: none; }
      .form form input[type=password] {
        color: #2db6fa; }
      .form form .CTA {
        margin-top: 30px; }
        .form form .CTA input {
          font-size: 12px;
          text-transform: uppercase;
          padding: 5px 30px;
          background: #2db6fa;
          color: #fff;
          border-radius: 30px;
          margin-right: 20px;
          border: none;
          font-family: "Montserrat", sans-serif; }
        .form form .CTA a.switch {
          font-size: 13px;
          font-weight: 400;
          font-family: "Montserrat", sans-serif;
          color: #bbbbbb;
          text-decoration: underline;
          transition: all 0.3s; }
          .form form .CTA a.switch:hover {
            color: #2db6fa; }
  
  @media (max-width: 768px) {
    .container {
      overflow: hidden; }
    section#formHolder {
      padding: 0; }
      section#formHolder div.brand {
        min-height: 200px !important; }
        section#formHolder div.brand.active {
          min-height: 100vh !important; }
        section#formHolder div.brand .heading.active {
          top: 200px;
          left: 50%;
          transform: translate(-50%, -50%); }
        section#formHolder div.brand .success-msg p {
          font-size: 16px; }
        section#formHolder div.brand .success-msg a {
          padding: 5px 30px;
          font-size: 10px; }
      section#formHolder .form {
        width: 80vw;
        min-height: 500px;
        margin-left: 10vw; }
        section#formHolder .form .form-peice {
          margin: 0;
          top: 0;
          left: 0;
          width: 100% !important;
          transition: all .5s ease-in-out; }
          section#formHolder .form .form-peice.switched {
            transform: translateY(-100%);
            width: 100%;
            left: 0; }
          section#formHolder .form .form-peice > form {
            width: 100% !important;
            padding: 60px;
            left: 50%; } }
  
  @media (max-width: 480px) {
    section#formHolder .form {
      width: 100vw;
      margin-left: 0; }
    h2 {
      font-size: 50px !important; } }

      /* Dashboard */
      body {
        min-height: 100vh;
      }
      
      .side-navbar {
        width: 250px;
        height: 100%;
        position: fixed;
        margin-left: -300px;
        /* background-color: #1680b3; */
        transition: 0.5s;
      }
      .dashboard{
        background-color: #1680b3;
      }
      .dropdown ul li :hover{
        color: #100901!important;
      }
      .cursor{
        cursor: url('/images/cursor.cur'), auto;
      }
      .nav-link:active,
      .nav-link:focus,
      .nav-link:hover {
        background-color: #ffffff26;
      }
      
      .my-container {
        transition: 0.4s;
      }
      
      .active-nav {
        margin-left: 0;
      }
      
      /* for main section */
      .active-cont {
        margin-left: 250px;
      }
      
      #menu-btn {
        background-color: #100901;
        color: #fff;
        margin-left: -62px;
      }
      
      .my-container{
        border-radius: 2rem;
        padding: 2px 20px;
      }
      .card {
        line-height: 1.25rem;
        color: #000;
        z-index: -1;
    }
      .card-raised{
        border:none;
      }
  

      /* side bar */
      .mcd-menu1{
        background: #207ae0;
      }
      .mcd-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        /*height: 100px;*/
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        
        /* == */
        width: 250px;
        /* == */
      }
      .mcd-menu li {
        position: relative;
        /*float:left;*/
      }
      .mcd-menu li a {
        display: block;
        text-decoration: none;
        padding: 12px 20px;
        color: #ffffff;
        /*text-align: center;
        border-right: 1px solid #E7E7E7;*/
        
        /* == */
        text-align: left;
        height: 36px;
        position: relative;
        border-bottom: 1px solid #EEE;
        /* == */
      }
      .mcd-menu li a i {
        /*display: block;
        font-size: 30px;
        margin-bottom: 10px;*/
        
        /* == */
        float: left;
        font-size: 20px;
        margin: 0 10px 0 0;
        /* == */
        
      }
      /* == */
      .mcd-menu li a p {
        float: left;
        margin: 0 ;
      }
      /* == */
      
      .mcd-menu li a strong {
        display: block;
      }
      .mcd-menu li a small {
        display: block;
        font-size: 10px;
      }
      
      .mcd-menu li:hover a strong {
          opacity: 1;
          -webkit-animation: moveFromLeft 300ms ease-in-out;
          -moz-animation: moveFromLeft 300ms ease-in-out;
          -ms-animation: moveFromLeft 300ms ease-in-out;
          -o-animation: moveFromLeft 300ms ease-in-out;
          animation: moveFromLeft 300ms ease-in-out;
      }
      .mcd-menu li:hover a small {
          opacity: 1;
          -webkit-animation: moveFromRight 300ms ease-in-out;
          -moz-animation: moveFromRight 300ms ease-in-out;
          -ms-animation: moveFromRight 300ms ease-in-out;
          -o-animation: moveFromRight 300ms ease-in-out;
          animation: moveFromRight 300ms ease-in-out;
      }
      
      .mcd-menu li:hover > a {
        color: #000;
      }
      .mcd-menu li a.active {
        position: relative;
        color: #2298e6;
        box-shadow: 0 0 5px #DDD;
        -moz-box-shadow: 0 0 5px #DDD;
        -webkit-box-shadow: 0 0 5px #DDD;
        
        /* == */
        border-left: 4px solid #2298e6;
        border-right: 4px solid #2298e6;
        margin: 0 -4px;
        /* == */
      }
      .mcd-menu li a.active:before {
        content: "";
        position: absolute;
        
        /* == */
        top: 42%;
        left: 0;
        border-left: 5px solid #2298e6;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        /* == */
      }
      
      /* == */
      .mcd-menu li a.active:after {
        content: "";
        position: absolute;
        top: 42%;
        right: 0;
        border-right: 5px solid #2298e6;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
      }
      
      @-webkit-keyframes moveFromLeft {
          from {
              opacity: 0;
              -webkit-transform: translateX(200%);
              -moz-transform: translateX(200%);
              -ms-transform: translateX(200%);
              -o-transform: translateX(200%);
              transform: translateX(200%);
          }
          to {
              opacity: 1;
              -webkit-transform: translateX(0%);
              -moz-transform: translateX(0%);
              -ms-transform: translateX(0%);
              -o-transform: translateX(0%);
              transform: translateX(0%);
          }
      }
      @-webkit-keyframes moveFromRight {
          from {
              opacity: 0;
              -webkit-transform: translateX(-200%);
              -moz-transform: translateX(-200%);
              -ms-transform: translateX(-200%);
              -o-transform: translateX(-200%);
              transform: translateX(-200%);
          }
          to {
              opacity: 1;
              -webkit-transform: translateX(0%);
              -moz-transform: translateX(0%);
              -ms-transform: translateX(0%);
              -o-transform: translateX(0%);
              transform: translateX(0%);
          }
      }
      
      
      
      .mcd-menu li ul,
      .mcd-menu li ul li ul {
        position: absolute;
        height: auto;
        min-width: 200px;
        padding: 0;
        margin: 0;
        /*border-top: 4px solid #e67e22;*/
        opacity: 0;
        visibility: hidden;
        transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -ms-transition: all 300ms linear;
        -moz-transition: all 300ms linear;
        -webkit-transition: all 300ms linear;
        /*top: 130px;*/
        
        /* == */
        left:280px;
        top: 0px;
        border-left: 4px solid #000000;
        background: #207ae0;
        /* == */
      }
      .mcd-menu li ul:before {
        content: "";
        position: absolute;
        /*top: -8px;
        left: 23%;
        border-bottom: 5px solid #e67e22;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;*/
        
        /* == */
        top: 25px;
        left: -9px;
        border-right: 5px solid #000000;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
        /* == */
      }
      .mcd-menu li:hover > ul,
      .mcd-menu li ul li:hover > ul {
        display: block;
        opacity: 1;
        visibility: visible;
        /*top: 100px;*/
        
        /* == */
        left:250px;
        /* == */
      }
      /*.mcd-menu li ul li {
        float: none;
      }*/
      
      .mcd-menu li ul li a i {
        font-size: 16px;
        display: inline-block;
        margin: 0 10px 0 0;
      }
      .mcd-menu li ul li ul {
        left: 230px;
        top: 0;
        border: 0;
        border-left: 4px solid #000000;
      }  
      .mcd-menu li ul li ul:before {
        content: "";
        position: absolute;
        top: 15px;
        /*left: -14px;*/
        /* == */
        /* left: -9px; */
        /* == */
        border-right: 5px solid #000000;
        border-bottom: 5px solid transparent;
        border-top: 5px solid transparent;
      }
      .mcd-menu li ul li:hover > ul {
        top: 0px;
        left: 200px;
      }
      
      
      
      
      
      
      
      
      @media only screen and (min-width: 960px) and (max-width: 1199px) {
          .mcd-menu {
          margin-left:10px;
        }
      }
      
      @media only screen and (min-width: 768px) and (max-width: 959px) {
          .mcd-menu {
          width: 200px;
        }
        .mcd-menu li a {
          height:30px;
        }
        .mcd-menu li a i {
          font-size: 22px;
        }
        .mcd-menu li a strong {
          font-size: 12px;
        }
        .mcd-menu li a small {
          font-size: 10px;
        }	
        .mcd-menu li a.search input {
          width: 120px;
          font-size: 12px;
        }
        .mcd-menu li a.search buton{
          padding: 8px 10px 9px 10px;
        }
        .mcd-menu li > ul {
          min-width:180px;
        }
        .mcd-menu li:hover > ul {
          min-width:180px;
          left:200px;
        }
        .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
          min-width:150px;
        }
        .mcd-menu li ul li:hover > ul {
          left:180px;
          min-width:150px;
        }
        .mcd-menu li ul li ul li:hover > ul {
          left:150px;
          min-width:150px;
        }
        .mcd-menu li ul a {
          font-size:12px;
        }
        .mcd-menu li ul a i {
          font-size:14px;
        }
      }
      
      @media only screen and (min-width: 480px) and (max-width: 767px) {
        
        .mcd-menu { 
          width: 50px;
        }
        .mcd-menu li a { 
          position: relative;
          padding: 12px 16px;
          height:20px;
        }
        .mcd-menu li a small { 
          display: none;
        }
        .mcd-menu li a strong { 
          display: none;
        }
        .mcd-menu li a:hover strong,.mcd-menu li a.active strong {
          display:block;
          font-size:10px;
          padding:3px 0;
          position:absolute;
          bottom:0px;
          left:0;
          background:#2298e6;
          /* color:#FFF; */
          min-width:100%;
          text-transform:lowercase;
          font-weight:normal;
          text-align:center;
        }
        .mcd-menu li .search { 
          display: none;
        }
        
        .mcd-menu li > ul {
          min-width:180px;
          left:70px;
        }
        .mcd-menu li:hover > ul {
          min-width:180px;
          left:50px;
        }
        .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
          min-width:150px;
        }
        .mcd-menu li ul li:hover > ul {
          left:180px;
          min-width:150px;
        }
        .mcd-menu li ul li ul li > ul {
          left:35px;
          top: 45px;
          border:0;
          border-top:4px solid #2298e6;
        }
        .mcd-menu li ul li ul li > ul:before {
          left:30px;
          top: -9px;
          border:0;
          border-bottom:5px solid #2298e6;
          border-left:5px solid transparent;
          border-right:5px solid transparent;
        }
        .mcd-menu li ul li ul li:hover > ul {
          left:30px;
          min-width:150px;
          top: 35px;
        }
        .mcd-menu li ul a {
          font-size:12px;
        }
        .mcd-menu li ul a i {
          font-size:14px;
        }
        
      }
      
      @media only screen and (max-width: 479px) {
          .mcd-menu { 
          width: 50px;
        }
        .mcd-menu li a { 
          position: relative;
          padding: 12px 16px;
          height:20px;
        }
        .mcd-menu li a small { 
          display: none;
        }
        .mcd-menu li a strong { 
          display: none;
        }
        .mcd-menu li a:hover strong,.mcd-menu li a.active strong {
          display:block;
          font-size:10px;
          padding:3px 0;
          position:absolute;
          bottom:0px;
          left:0;
          background:#2298e6;
          /* color:#FFF; */
          min-width:100%;
          text-transform:lowercase;
          font-weight:normal;
          text-align:center;
        }
        .mcd-menu li .search { 
          display: none;
        }
        
        .mcd-menu li > ul {
          min-width:180px;
          left:70px;
        }
        .mcd-menu li:hover > ul {
          min-width:180px;
          left:50px;
        }
        .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
          min-width:150px;
        }
        .mcd-menu li ul li:hover > ul {
          left:180px;
          min-width:150px;
        }
        .mcd-menu li ul li ul li > ul {
          left:35px;
          top: 45px;
          border:0;
          border-top:4px solid #2298e6;
        }
        .mcd-menu li ul li ul li > ul:before {
          left:30px;
          top: -9px;
          border:0;
          border-bottom:5px solid #2298e6;
          border-left:5px solid transparent;
          border-right:5px solid transparent;
        }
        .mcd-menu li ul li ul li:hover > ul {
          left:30px;
          min-width:150px;
          top: 35px;
        }
        .mcd-menu li ul a {
          font-size:12px;
        }
        .mcd-menu li ul a i {
          font-size:14px;
        }
          
      }

      /* skill Institute */
      .skill{
        
        gap: 30px;
        
      }
      .inputBox{
        position: relative;
      }
      .inputBox input{
        width: 100%;
        padding: 10px;
        border: 1px solid #000;
        /* background: #1d2b3a; */
        border-radius: 5px;
        outline: none;
        /* color: #fff; */
        font-size: 1.25em;
        
      }
      .skill-institute{
        position: absolute;
        pointer-events: none;
        left: 0;
        padding: 10px;
        color: #000;
        text-transform: uppercase;
        transition: 0.5s;
      }
      .inputBox input:valid ~ .skill-institute,
      .inputBox input:focus ~ .skill-institute
      {
        color: #fff;
        transform: translateX(10px) translateY(-7px);
        font-size: 1em;
        padding: 0 10px;
        background: #207ae0;
      }
      